name: Tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up python
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Run pytest
        run: |
          uv sync --frozen
          uv run pytest -v

  e2e-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up poetry
        run: |
          pip install poetry

      - name: Set up python
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Run end-to-end test
        working-directory: retrospective-forecasting/
        run: |
          uv sync --frozen
          uv run bash test/run.sh
